{% extends 'base.html.twig' %}

{% block title %}Lessons{% endblock %}

{% block body %}
    <h1>Lessons</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lesson.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ lesson.naam }}</td>
            </tr>
            <tr>
                <th>Tijd</th>
                <td>{{ lesson.tijd ? lesson.tijd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ lesson.enddate ? lesson.enddate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lessons_index') }}">back to list</a>

    <a href="{{ path('app_lessons_edit', {'id': lesson.id}) }}">edit</a>

    {{ include('lessons/_delete_form.html.twig') }}
{% endblock %}
